/*----------Global----------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
body {
  margin: auto;
  background-image: url("./images/BG.png");
}
.blue {
  color: #fff;
  font-weight: 300;
}
h1 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}
h2 {
  font-size: 35px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  margin-top: 10px;
  color: #17191a;
}
p {
  opacity: 0.8;
  font-weight: 100;
  margin-top: 10px;
  font-size: 20px;
}

/*----------Navigation----------*/

.nav {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: rgba(23, 30, 36, 0.6) 1px solid;
  -webkit-box-shadow: opx 3px 70px 0px rgba(23, 30, 36, 0.6);
  -moz-box-shadow: opx 3px 70px 0px rgba(23, 30, 36, 0.6);
  box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.6);
}
.contactme {
  flex: 1;
  margin-left: 20%;
}
.contacticons {
  text-align: right;
  margin-right: 20%;
}
.contacticons a,
.contactme a,
.contactme img {
  display: inline-block;
  vertical-align: middle;
}
.contacticons p {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}
.contacticons a {
  margin-left: 40px;
}
.contactme p,
.contacticons p {
  color: #17191a;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 10px;
}
.contactme img {
  margin-right: 10px;
}

/*----------Landing----------*/

.landing {
  height: 100vh;
  position: relative;
}
.landingwrapper {
  display: flex;
  align-items: center;
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  margin-left: 5%;
  height: 100vh;
  background-image: url("./images/Original.png");
  background-size: 50vw;
  background-position: 0%;
}
ul {
  list-style: none;
  margin-top: 30px;
  line-height: 30px;
}
.landingl {
  margin-bottom: 100px;
  margin-left: 10%;
}
.landingl p,
.landingl ul {
  color: #fff;
}
.landingr {
  margin-right: 13%;
  padding-bottom: 70px;
  background-image: url("./images/profile.jpeg");
  background-size: cover;
  width: 30vw;
  height: 50vh;
  border-radius: 50%;
}
.cvimg {
  width: 230px;
}
.landingr a {
  text-decoration: none;
}
.landingr a h5 {
  padding-top: 10px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.landingl ul li p,
.landingl p {
  font-weight: 300;
}

/*----------Skills----------*/

.skills {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
  margin: auto;
}
.sectionPara {
  margin-bottom: 30px;
  color: #8f9ea5;
}
.skills img {
  margin: 0 15px;
}
.sectionTitle {
  color: #17191a;
}

/*----------Project Title----------*/

.project {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 10em;
}
.titlewrapper {
  margin-bottom: 5em;
}
.sectionTitle {
  color: #17191a;
}
.sectionPara {
  color: #8f9ea5;
}

/*----------Work 01----------*/

.work {
  width: 70%;
  position: relative;
  margin: auto;
  margin-bottom: 15em;
}
.projTitle {
  color: #17191a;
  margin-top: 0;
}
.work > .worktext {
  position: absolute;
  top: 85px;
  margin-left: 5%;
}
.work > .worktext > .underline {
  display: block;
  background-color: #027bff;
  height: 3px;
  width: 61px;
  margin-top: 5px;
  float: left;
}
.work.clearfix {
  border-radius: 5%;
  -webkit-box-shadow: opx 3px 70px 0px rgba(23, 30, 36, 0.4);
  -moz-box-shadow: opx 3px 70px 0px rgba(23, 30, 36, 0.4);
  box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.4);
}
.work > .workimg {
  width: 70%;
  float: right;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}
.work ul {
  position: absolute;
  bottom: 10px;
  right: 72%;
}
.work ul li {
  margin-top: 20px;
}

/*----------Work 02----------*/

.work2 {
  width: 70%;
  position: relative;
  margin: auto;
  margin-bottom: 15em;
  align-items: center;
}
.work2 .worktext h1 {
  color: #17191a;
}
.work2 .worktext h5 {
  margin-right: 30px;
}
.work2 > .worktext {
  position: absolute;
  top: 85px;
  right: 0;
  text-align: right;
  margin-right: 5%;
}
.work2 > .worktext > .underline {
  display: block;
  background-color: #027bff;
  height: 3px;
  width: 61px;
  margin-top: 5px;
  float: right;
}
.work2.clearfix {
  border-radius: 5%;
  -webkit-box-shadow: opx 3px 70px 0px rgba(23, 30, 36, 0.4);
  -moz-box-shadow: opx 3px 70px 0px rgba(23, 30, 36, 0.4);
  box-shadow: 0px 3px 70px 0px rgba(23, 30, 36, 0.4);
}
.work2 > .workimg {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  width: 70%;
  float: left;
}
.work2 ul {
  position: absolute;
  bottom: 10px;
  left: 72%;
}
.work2 ul li {
  margin-top: 20px;
}

/*----------Work 01 & Work 02----------*/

.work a,
.work2 a {
  text-decoration: none;
  color: #17191a;
}

/*----------DarkMode----------*/

.btnDarkMode {
  background-color: #fff;
  color: #17191a;
  border: #440bd4 1px solid;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.bodyDarkMode {
  margin: auto;
  background-color: #333;
}
.h5DarkMode {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
}
.h2DarkMode {
  color: #55ffe1;
}
.pDarkMode {
  color: #a6fd29;
}
.workDarkMode {
  border-radius: 5%;
  -webkit-box-shadow: 0px 3px 70px 0px rgb(0, 68, 255, 0.4);
  -moz-box-shadow: 0px 3px 70px 0px rgba(0, 68, 255, 0.4);
  box-shadow: 0px 3px 70px 0px rgba(0, 68, 255, 0.4);
}
.projTitleDarkMode {
  color: #fff;
}
